{% extends 'base_layout.html' %}
{% block title %} Articles {% endblock %}
{% block content %}
    <h1>Articles List</h1>
    <div class="articles">
        {% for article in articles %}
        <div class="article">
                <h2>
                    <a href="{% url 'articles:details' slug=article.slug %}">{{ article.title }}</a>
                </h2>
                <p> {{ article.snippet }} </p>
                <p> {{ article.date }} </p>
                <a href="{% url 'articles:user_articles' author=article.author %}"> <p class="author" >add by {{ article.author}}</p></a>
            </div>
            {% endfor %}
    </div>
{% endblock %}
